[submodule "wp-content/plugins/woocommerce"]
	path = wp-content/plugins/woocommerce
	url = git@github.com:woothemes/woocommerce.git
[submodule "wp-content/plugins/staff-directory"]
	path = wp-content/plugins/staff-directory
	url = git@github.com:n3ssi3/staff-directory.git
