.tt-sites-edit {
    .form-inline {
        & > .upload_image {
            max-width: 40%;
        }
        .form-group {
            width: 60%;
            .input-group {
                width: 100%;
            }
        }
    }
}
