h2 {
    color: @ttgreen;
}
a {
    color: @ttbluelight;
    &:hover,
    &:focus {
        color: @ttblue;
        text-decoration: none;
    }
}

.btn {
    background-color: @btn-default-bg;
}
.btn-primary {
    background-color: @ttorange;
}

.bg-orange {
    background-color: @ttorange;
    h2 {
        color: @white;
    }
}

.site-content {
    margin-bottom: 20px;
}

.input-group-addon-button {
    padding: 0;
    button {
        padding: @padding-base-vertical @padding-base-horizontal;
        border: 0;
        background-color: transparent;
        &:hover {
            color: @btn-default-color;
            text-decoration: none;
        }
    }
}
