#lang_sel,
#lang_sel_click {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 100;

    ul ul {
        border: 0;
    }

    a.lang_sel_sel:after {
        content: "\e259";

        position: relative;
        top: 1px;
        right: -10px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    // a.lang_sel_sel:hover:after {
    //     // content: "\e260";
    //     transition: 0.9s;
    //     transform: rotateX(180deg);
    // }

    a,
    a.lang_sel_sel,
    ul ul a {
        line-height: 24px;
        color: @white;

        position: relative;

        padding: 2px 0 2px 33px;

        border: 0;
        background: none;
        &:hover,
        &:visited {
            color: @white;
        }
        img,
        img.iclflag {
            position: absolute;
            top: 8px;
            left: 11px;
        }
    }
    a.lang_sel_sel {
        padding-left: 36px;
    }
    :hover > a,
    ul ul :hover > a {
        color: @white;

        border: 0;
        background: none;
    }
}
