.ratings {
    h3 {
        font-size: 16px;

        margin-top: 0;
        .badge {
            margin-right: @half-padding;
        }
    }
    .rating {
        margin-bottom: @default-padding;
        padding: @default-padding 0;

        background-color: @ttgrey;
        box-shadow: 10px 10px 30px -15px rgba(0,0,0,1);
        .slider {
            background: #fff;
        }
    }
    .panel-group {
        margin: 0;
    }
    .list-group-item {
        min-height: 38px;

        background: none;
        .list-group-item-heading {
            width: 40%;
        }
        .list-group-item-text {
            width: 60%;
        }
    }
    .panel-heading a {
        font-size: 14px;
        color: @text-color;
        &:hover,
        &:focus {
            color: @text-color;
        }
    }
    .glyphicon.glyphicon-menu-up:before {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
         display: inline-block;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
    }
    .collapsed .glyphicon.glyphicon-menu-up:before {
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        .rotate(180deg);
    }
}
.rating-overview {
    .jumbotron {
        padding: @default-padding;
        box-shadow: 10px 10px 30px -15px rgba(0,0,0,1);
        background-color: @ttgrey;
        h3 {
            margin-top: 0;
        }
    }
}
