@default-padding: @modal-inner-padding;
@double-padding: (@default-padding + @default-padding);

//FF7400  BF7130  A64B00  FF9640  FFB273
@ttorange: #ff9640;
//0E53A7  274E7D  04346C  4284D3  6899D3
@ttblue: #0e53a7;
@ttbluelight: #4284D3;
//00B74A  228A4C  007730  37DB79  63DB93
@ttgreen: #00b74a;
@ttgreendark: #007730;
@ttgreendark2: #228A4C;

@brand-primary: @ttorange;
@white: #fff;
@textwhite: #f1f1f1;
