.select2-choice {
    border: 0 !important;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    float: none;

    width: 100%;
}
.woocommerce-main-image img,
.products .attachment-shop_catalog.wp-post-image {
    width: 100%;
    height: auto;
}

.products .product-item {
    position: relative;

    margin-bottom: @double-padding;
    .description {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        padding: @default-padding @double-padding;

        background-color: rgba(255, 255, 255, .8);
        h3 {
            margin: 0;
            line-height: floor((@font-size-h3 * @line-height-base));
        }
        .amount {
            font-size: @font-size-base;
            line-height: floor((@font-size-h3 * @line-height-base));
            float: right;
        }
    }
}
